$primaryColor: #17181A;
$textColor:#575757;
$btnColor: #3CBA79;
$tertiaryColor: #1F284F;
$borderColor: #B7BFC7;
$spanColor: #0070f0e6;
$bgPrimary: #F2F2FE;
$bgSecondary: #EFF5FE;
$textPrimary: #515458;
$marginColor: #E1E8F0;
